@charset "UTF-8";

body {
    background-color: rgb(106, 175, 255);
    font: normal 1em Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.500);
}

#res{
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
a {
    color: white;
}

a:visited {
    color: white;
}