@charset "UTF-8";

body {
    background-color: rgb(106, 175, 255);
    font: normal 1em Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.500);
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
}

a {
    font-style: italic;
    text-decoration: none;
    color: white;
    font-weight: bold;
}